html,
body,
#root {
  height: 100%;
}

/* Workaround to remove the margin-block-start from the alert title */
.pf-v6-c-alert--no-title-margin .pf-v6-c-alert__title {
  margin-block-start: 0;
}

/* File upload full height layout */
/* Page main body and Stack container need height for FileUpload to fill available space */
.pf-v6-c-page__main-section .pf-v6-c-page__main-body {
  height: 100%;
}
.pf-v6-c-page__main-body > .pf-v6-l-stack,
.pf-v6-c-page__main-section.pf-m-fill > .pf-v6-l-stack {
  height: 100%;
  flex-grow: 1;
}
.pf-v6-c-file-upload {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.pf-v6-c-file-upload__file-details {
  flex-grow: 1;
}
.pf-v6-c-file-upload__file-details .pf-v6-c-form-control {
  height: 100%;
}
